.container {
  padding: 220px;
  background: linear-gradient(to right, #6a11cb, #2575fc);
  margin: 50px auto;
  width: 500px;
  border-radius: 10px;
  box-shadow: 1 1 10px #f78787;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 8px 0;
  background: #f1f1f1;
  border-radius: 6px;
}

h2 {
  text-align: top;
  color: #fff;
  font-size: 40px;
}